<div class="row">
  <div class="col-md-1"></div>
  <% if flash[:alert] %>
    <aside class="alert alert-primary mt-3"><%= flash[:alert] %></aside>
  <% end %>
</div>

<div class="row mt-3">
  <div class="col-md-1"></div>
  <div class="col-md-5 table-background">

      <h3>Login</h3>

          <%= form_tag do %>

            <div class="field form-group row mt-3">
                <%= label_tag :name, nil, :class => 'col-md-3'  %>
                <%= text_field_tag :name, params[:name] %>
            </div>
            <div class="field form-group row">
                <%= label_tag :password, nil, :class => "col-md-3"  %>
                <%= password_field_tag :password, id: :user_password %>
            </div>

            <%= submit_tag "Login", :class => 'm-3' %>

            <%= link_to "Sign Up", new_user_path %>

          <% end %>
    </div>
  </div>
