<div class="container">
  <p id="notice"><%= notice %></p>
    <div class="row mb-3 mt-3">
      <div class="col-md-10">
        <h3>Players</h3>
        <h3 class="background-bar">Players</h3>
      </div>

      <div class="col-md-2 mt-2">
        <%= link_to "New Player", new_player_path %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 table-background">

        <table class="table">
          <thead>
            <tr>
              <th style='width:200px'>Name</th>
              <th>Linkedin</th>
              <th>Photo</th>
              <th>Businesses</th>
              <th>Articles</th>
              <th>Industries</th>
            </tr>
          </thead>
          <tbody>

          <% @players.each do |player| %>
          <tr>
              <td style='width:200px'><%= link_to player.name, player %></td>
              <td><%= link_to "Linkedin", player.linkedin, data: { confirm: "Are you sure?" } %></td>
              <td>Photo</td>
              <td><%= render partial: 'components/list', locals: {collection: player.businesses} %></td>
              <td><%= render partial: 'components/list', locals: {collection: player.articles} %></td>
              <td><%= render partial: 'components/list', locals: {collection: player.industries} %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>

    </div>
    </div>
