<div class="container">

    <p id="notice"><%= notice %></p>

    <div class="row mb-3 mt-3">
      <div class="col-md-10">
        <h3><%= @player.name %></h3>
        <h3 class="background-bar"><%= @player.name %></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 table-background">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Linkedin</th>
              <th>Businesses</th>
              <th>Articles</th>
              <th>Industries</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @player.name %></td>
              <td><%= link_to "Linkedin", @player.linkedin, data: { confirm: "Are you sure?" } %></td>
              <td><%= render partial: 'components/list', locals: {collection: @player.businesses} %></td>
              <td><%= render partial: 'components/list', locals: {collection: @player.articles} %></td>
              <td><%= render partial: 'components/list', locals: {collection: @player.industries} %></td>
            </tr>
          </tbody>
        </table>

        <%= link_to "Edit", edit_player_path(@player) %> |
        <%= link_to "Delete", @player, method: :delete %>

      </div>

    </div>
    </div>
